<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlaUI.Core" version="3.2.0" targetFramework="net8.0-windows7.0" />
  <package id="FlaUI.UIA3" version="3.2.0" targetFramework="net8.0-windows7.0" />
  <package id="Interop.UIAutomationClient" version="10.18362.0" targetFramework="net8.0-windows7.0" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.17" targetFramework="net8.0-windows7.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.2" targetFramework="net8.0-windows7.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.3" targetFramework="net8.0-windows7.0" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.4" targetFramework="net8.0-windows7.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.3" targetFramework="net8.0-windows7.0" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net8.0-windows7.0" />
  <package id="Microsoft.Win32.SystemEvents" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net8.0-windows7.0" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net8.0-windows7.0" />
  <package id="NLog" version="4.7.13" targetFramework="net8.0-windows7.0" />
  <package id="NPOI" version="2.5.5" targetFramework="net8.0-windows7.0" />
  <package id="Ocr.Wrapper" version="1.0.5" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.BaseCollections" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.CommonExcel" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Desktop" version="1.3.0" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Desktop.Core" version="1.3.0" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Files" version="1.2.2" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Master" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Master.Data" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Master.Tasks" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Office.Excel" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.ProviderOCR" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Queues" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Remote" version="1.3.0" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Activities.Strings" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.CitrixVisualProvider" version="1.3.0" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Common" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Desktop.Core" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Emgu.CV" version="4.3.0.3890" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Helpers.IO" version="1.3.0" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Images.Core" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Microsoft.Office.Core" version="14.0.4760.1000" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Microsoft.Office.Interop.Excel" version="14.0.4756.1000" targetFramework="net8.0-windows7.0" />
  <package id="Pix.Microsoft.Vbe.Interop" version="14.0.4760.1000" targetFramework="net8.0-windows7.0" />
  <package id="PIX.RPA.Contracts.SignalR" version="1.4.0" targetFramework="net8.0-windows7.0" />
  <package id="Pix.VisualProvider" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.VisualProvider.Remote" version="1.3.0" targetFramework="net8.0-windows7.0" />
  <package id="Pix.VisualProvider.WindowsDesktop" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.X11" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Pix.XdoLib" version="1.2.1" targetFramework="net8.0-windows7.0" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net8.0-windows7.0" />
  <package id="ProDotNetZip" version="1.20.0" targetFramework="net8.0-windows7.0" />
  <package id="runtime.native.System" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="SharpCompress" version="0.34.0" targetFramework="net8.0-windows7.0" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net8.0-windows7.0" />
  <package id="SixLabors.ImageSharp" version="2.1.10" targetFramework="net8.0-windows7.0" />
  <package id="Splat" version="14.8.12" targetFramework="net8.0-windows7.0" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.1" targetFramework="net8.0-windows7.0" />
  <package id="System.Diagnostics.EventLog" version="8.0.1" targetFramework="net8.0-windows7.0" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.7.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Drawing.Common" version="8.0.13" targetFramework="net8.0-windows7.0" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.IO" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.IO.Pipelines" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Management" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net8.0-windows7.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net8.0-windows7.0" />
  <package id="System.Security.Cryptography.ProtectedData" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Security.Permissions" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Threading" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net8.0-windows7.0" />
  <package id="System.Windows.Extensions" version="8.0.0" targetFramework="net8.0-windows7.0" />
  <package id="TestableIO.System.IO.Abstractions" version="21.1.7" targetFramework="net8.0-windows7.0" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="21.1.7" targetFramework="net8.0-windows7.0" />
  <package id="X11" version="1.0.6" targetFramework="net8.0-windows7.0" />
  <package id="XPathParser" version="1.2.2" targetFramework="net8.0-windows7.0" />
  <package id="ZstdSharp.Port" version="0.6.1" targetFramework="net8.0-windows7.0" />
  <package id="ZXing.Net" version="0.16.7" targetFramework="net8.0-windows7.0" />
  <package id="ZXing.Net.Bindings.Windows.Compatibility" version="0.16.10" targetFramework="net8.0-windows7.0" />
</packages>